input{
    width: 150px;
    height: 50px;
    text-align: center;
}
.esas{
    width: 50%;
    height: 600px;
    margin:  auto;
    padding: 300px 0;

}
.cavab{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: -20px;
    text-align: center;
}
.btn{
    display: block;
    margin: 30px auto;
    
}
::placeholder{
    color: blue;
}


/* task2 */
.btn1{
    display: block;
    margin: 30px 140px;
}